@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Baumans';
  src: url('/fonts/Baumans-Regular.ttf') format('truetype');
}

/*
Reset styles
*/
input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
}

/*
Background
*/

#home-page {
  background-image: url('/assets/app_bg.png'), linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
}

#timesup-page {
  background-image: url('/assets/timesup_bg.png'), linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
}

#error-page {
  background-image: url('/assets/error_bg.png'), linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
}

#dashboard-page,
#profile-page,
#game-page {
  background-image: url('/assets/gradient.jpeg');
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
}

/*
New CSS Effects
*/

.reflect {
  -webkit-box-reflect:
    below -2px linear-gradient(to top, transparent,
      rgba(0, 0, 0, 0.2));
}

/*
Scroll bar
*/

/* Estilos para Webkit (Chrome, Safari, Opera) */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: #AFFC41;
  border-radius: 50px;
}

/* Estilos para Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #AFFC41 transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #AFFC41 !important;
}

*::-webkit-scrollbar-track {
  background: transparent;
}